# ★ 실제 키가 들어있는 파일은 절대 커밋하지 않는다
src/main/resources/application-local.yml
src/main/resources/application-prod.yml
.env

# 빌드 산출물
build/
out/
.gradle/
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/

.metadata